<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pandawork.nenu.oa.mapper.dispatch.DispatchExtendItemMapper">

    <select id="queryByDispatchId" resultMap="pw.DispatchExtendItem">
        SELECT *
        FROM `t_dispatch_extend_item`
        WHERE `dispatch_id` = #{dispatchId}
    </select>

</mapper>