<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pandawork.nenu.oa.mapper.general.MaterialMapper">

    <select id="listByStatusInfoIdAndType" resultMap="pw.Material">
        SELECT *
        FROM `t_material`
        WHERE `status_info_id` = #{statusInfoId}
        AND `material_type` = #{type}
        AND `is_deleted` = 0
    </select>

    <select id="listByProtocolId" resultMap="pw.Material">
        SELECT *
        FROM `t_material`
        WHERE `protocol_id` = #{protocolId}
        AND `is_deleted` = 0
    </select>

    <select id="listAllByStatusInfoIdAndType" resultMap="pw.Material">
        SELECT *
        FROM `t_material`
        WHERE `status_info_id` = #{statusInfoId}
        AND `material_type` = #{type}
    </select>

    <select id="listAllByStatusInfoId" resultMap="pw.Material">
        SELECT *
        FROM `t_material`
        WHERE `status_info_id` = #{statusInfoId}
        AND `is_deleted` = 0
    </select>

    <select id="updateProtocolIdByStatusInfoIdAndType" resultMap="pw.Material">
        UPDATE `t_material`
        SET `protocol_id` = #{protocolId}
        WHERE `status_info_id` = #{statusInfoId}
        AND `material_type` = #{type}
        AND `protocol_id` = 0
        AND `is_deleted` = 0
    </select>
    
    <select id="listRecent" resultMap="pw.Material">
        SELECT *
        FROM `t_material`
        WHERE `status_info_id` = #{statusInfoId}
        AND `material_type` = #{type}
        AND `protocol_id` = 0
        AND `is_deleted` = 0
    </select>

    <select id="updateDispatchByDispatchInfoId" resultMap="pw.Material">
        UPDATE `t_material`
        SET `is_deleted` = 1
        WHERE `dispatch_info_id` = #{dispatchInfoId}
        And `material_type` = 2
    </select>

</mapper>