<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pandawork.nenu.oa.mapper.general.PlaceMapper">

    <select id="queryByCode" resultMap="pw.PlaceCode">
        SELECT `id`, `place_id`, `place`, `show_name`, `place_class_id`, `place_class`
        FROM `t_place_code`
        WHERE `place_id` = #{code}
    </select>

    <select id="listAll" resultMap="pw.PlaceCode">
        SELECT `id`, `place_id`, `place`, `show_name`, `pinyin_initial`, `place_class_id`, `place_class`
        FROM `t_place_code`
    </select>
</mapper>