<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pandawork.nenu.oa.mapper.general.SchoolMapper">

    <select id="queryByCode" resultMap="pw.SchoolCode">
        SELECT *
        FROM `t_school_code`
        WHERE `school_id` = #{code}
    </select>

    <select id="listAll" resultMap="pw.SchoolCode">
        SELECT *
        FROM `t_school_code`
    </select>

    <select id="queryDtoByCode" resultType="SchoolDto">
        SELECT `id` AS id, `school_id` AS code, `school` AS name
        FROM `t_school_code`
        WHERE `school_id` = #{code}
    </select>
</mapper>